body{
	margin: 0;
	font-family: Arial;
}
.nav_menu{
	color: red;
	text-align: center
}
.navig{
	color: green;
	
}
.the{
	font-size: 12pt;
}
.big_letters{
	font-size: 16pt;
}
.biggest_letters{
	font-size: 20pt;
}
div{

}